<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Segments Overview</title>
    <!-- Link to your external CSS file -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="main">
    <h1>Segments Overview</h1>
    <% data.records.forEach(record => { %>
    <!-- Display headline -->
    <h6
      class="headline"
      onclick="toggleSegments('<%= record.fields.Headlines %>')"
    >
      <%= record.fields.Headlines %>
      <span id="segmentCount_<%= record.fields.Headlines %>"></span>
    </h6>

    <!-- Display segments under the headline -->
    <div
      class="segments"
      id="segments_<%= record.fields.Headlines %>"
      style="display: none"
    >
      <% let verifiedCount = 0; %> <% let nonVerifiedCount = 0; %> <% let
      rewriteCount = 0; %> <% verifiedCount = record.fields.verified ?
      record.fields.verified.length : 0 ; %> <% nonVerifiedCount =
      record.fields.non_verified ? record.fields.non_verified.length : 0 ; %> <%
      rewriteCount = record.fields.rewrite ? record.fields.rewrite.length : 0 ;
      %>

      <div class="row">
        <% if (record.fields.verified && record.fields.verified.length > 0 ) {%> 
        
        <% record.fields.verified.forEach((segment, index) => { %>
        <div class="col-md-8">
          <p>Verified сегмент:</p>
          <p>
            <%= index + 1 %>. <%= segment %>,
            <a
              href="https://airtable.com/appaAzKgj3wMGo5p1/tblXUxWPficSiWpyy/viwUEW9ZSlU3sqrMB/<%= record.fields.recId_segment[index] %>"
              target="_blank"
            >
              <%= record.fields.segment_name_txt[index] %>
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <% let recId = record.fields.recId_segment[index]; 
          if (content.records && content.records.length > 0) { 
            filtered = content.records.filter(obj => obj.fields.recId === recId) }%>
          <% if (filtered[0].fields.pictures && filtered[0].fields.pictures.length > 0) { %>
            <% filtered[0].fields.pictures.forEach(picture => { %>
            <a href="<%= picture.url %>" target="_blank"><img src="<%= picture.url %>" width="300" alt="<%= picture.alt %>" title="<%= record.fields.segment_name_txt[index] %>"/></a>
        <% }); %>
            <% } %>
        </div>
        <% }); %> <% } else if (record.fields.rewrite &&
        record.fields.rewrite.length > 0) { %>
        <div class="col-md-8">
          <p>Rewrite сегмент:</p>
          <% record.fields.rewrite.forEach((segment, index) => { %>
          <p>
            <%= index + 1 %>. <%= segment %>,
            <a
              href="https://airtable.com/appaAzKgj3wMGo5p1/tblXUxWPficSiWpyy/viwUEW9ZSlU3sqrMB/<%= record.fields.recId_segment[index] %>"
              target="_blank"
            >
              <%= record.fields.segment_name_txt[index] %>
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <% let recId = record.fields.recId_segment[index]; 
          if (content.records && content.records.length > 0) { 
            filtered = content.records.filter(obj => obj.fields.recId === recId) }%>
          <% console.log(filtered[0]) %>
          <% if (filtered[0].fields.pictures && filtered[0].fields.pictures.length > 0) { %>
            <% filtered[0].fields.pictures.forEach(picture => { %>
            <a href="<%= picture.url %>" target="_blank"><img src="<%= picture.url %>" width="300" alt="<%= picture.alt %>" title="<%= record.fields.segment_name_txt[index] %>"/></a>
        <% }); %>
            <% } %>
        </div>
        <% }); %>
        <% rewriteCount = record.fields.rewrite.length; %> <% } else if
        (record.fields.non_verified && record.fields.non_verified.length > 0) {
        %>
        <div class="col-md-8">
          <p>Non-Verified сегмент:</p>
          <% record.fields.non_verified.forEach((segment, index) => { %>
          <p>
            <%= index + 1 %>. <%= segment %>,
            <a
              href="https://airtable.com/appaAzKgj3wMGo5p1/tblXUxWPficSiWpyy/viwUEW9ZSlU3sqrMB/<%= record.fields.recId_segment[index] %>"
              target="_blank"
            >
              <%= record.fields.segment_name_txt[index] %>
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <% let recId = record.fields.recId_segment[index]; 
          if (content.records && content.records.length > 0) { 
            filtered = content.records.filter(obj => obj.fields.recId === recId) }%>
          <% console.log(filtered[0]) %>
          <% if (filtered[0].fields.pictures && filtered[0].fields.pictures.length > 0) { %>
            <% filtered[0].fields.pictures.forEach(picture => { %>
            <a href="<%= picture.url %>" target="_blank"><img src="<%= picture.url %>" width="300" alt="<%= picture.alt %>" title="<%= record.fields.segment_name_txt[index] %>"/></a>
        <% }); %>
            <% } %>
        </div>
        <% }); %>
        <% nonVerifiedCount = record.fields.non_verified.length; %> <% } else {
        %>
        <p>Нет сегментов</p>
        <% } %> <% if (verifiedCount > 0 || rewriteCount > 0 || nonVerifiedCount
        > 0) { %>
        <p>
          Verified сегменты: <%= verifiedCount %>, Rewrite сегменты: <%=
          rewriteCount %>, Non-Verified сегменты: <%= nonVerifiedCount %>
        </p>
        <% } %>
      </div>
    </div>
    <% }); %>
  </div>
    <script>
      function toggleSegments(headline) {
        const segmentsDiv = document.getElementById("segments_" + headline);
        segmentsDiv.style.display =
          segmentsDiv.style.display === "none" ? "block" : "none";
      }
    </script>

  </body>
</html>
